# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env

# macOS specific files
.DS_Store

# Compiled or build files
dist/
build/

# Log files
*.log

# Temporary folders
tmp/
temp/

# Development environment specific files
.idea/
.vscode/
